.DateRangePickerInput__withBorder{
    border:0px !important;
}
.DateInput_input{
    font-size: 15px !important;
    border-right: #f3f3f3;
    border-style: dotted;
}
.DateRangePickerInput_arrow{
    display: none !important;
}

.DateInput{
    width: 300px !important;
}
.DateRangePickerInput{
    margin-left: 0px !important;
}