.formLables {
  font-size: 14px;
}
.buttonColors{
  background-color: #560cb8;
  color: #fff;
  font-size: 14px;
}
.headings-text{
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
.cursor-pointer{
  cursor: pointer;
}

*{
  box-sizing: border-box;
  font-family: 'GalanoGrotesque', sans-serif;
}